<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>

    <bean id="employee" class="com.demo.model.Employee">
        <property name="type" value="Full-time"/>
    </bean>

    <bean id="person1" class="com.demo.model.Person">
        <property name="firstName" value="John"/>
        <property name="lastName" value="Doe"/>
    </bean>

    <bean id="person2" class="com.demo.model.Person">
        <property name="firstName" value="Arwen"/>
        <property name="lastName" value="Lee"/>
    </bean>

</beans>